<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSE564 Lab 2</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href=".\static\css\style.css">
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>

  <header id = "fifa-header"class="p-3 d-flex align-items-center justify-content-center">
    <h2 class="h2" style="color: azure;">FIFA Visualization Dashboard</h2>
  </header>

<div class="container-fluid">

  <!-- Chart Space -->
  <div class="row border-bottom mt-2">

    <div class="col-md-6 border-right">
      <h4 class="text-center">Scree plot</h4>

      <div class = "border graph-container d-flex justify-content-center">
        <div id="scree-plot-container"></div>
      </div>
    </div>

    <div class="col-md-6">
      <h4 class="text-center">K-means Elbow Plot</h4>

      <div class = "border graph-container d-flex justify-content-center" >
        
        <div id="elbow-plot-container"></div>
      </div>
    </div>

  </div>

  <div class="row border-bottom mt-2">

      <div class="col-md-6 border-right">
        <h4 class="text-center">MDS Data plot</h4>
  
        <div class = "border graph-container d-flex justify-content-center">
          <div id="mds-data-plot-container"></div>
        </div>
      </div>
  
      <div class="col-md-6">
        <h4 class="text-center">MDS Attribute Plot <img src="static/reset.png" alt="Reset" class="reset-image mb-1" id="reset-button1"></h4>
  
        <div class = "border graph-container d-flex justify-content-center" >
          
          <div id="mds-attr-plot-container"></div>
        </div>
      </div>
  
    </div>

    <div class="row-md-12 border-bottom mt-2">

          <h4 class="text-center mr-2">Parallel Coordinates Plot <img src="static/reset.png" alt="Reset" class="reset-image mb-1" id="reset-button2"> </h4>    

        <div class = "border graph-container d-flex justify-content-center" >
          
          <div id="pc-plot-container"></div>
        </div>
  
    </div>




<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/ScreePlot.js') }}"></script>
<script src="{{ url_for('static', filename='js/ElbowPlot.js') }}"></script>
<script src="{{ url_for('static', filename='js/MDSDataPlot.js') }}"></script>
<script src="{{ url_for('static', filename='js/MDSAttrPlot.js') }}"></script>
<script src="{{ url_for('static', filename='js/PCPlot.js') }}"></script>

</body>
</html>
